#events {
	width: 12.9em;
	height: 100vh;
	display: inline-block;
	/*
	position: fixed;
	top: 0;
	left: 12em;*/
	z-index: -1;
}

.info {
	background-color: #252525;
	margin-bottom: 1em;
	padding: 0.5em;
}

.row {
    width: 100%;
    padding: 0.1em 0.4em 0.1em 0.40em;
    overflow: hidden;
    color: #fff;
    font-size: 0.8em;
    line-height: 125%;
}

.event-type {
	float: left;
	width: 22%;
}

.time {
	float: left;
	width: 30%;
    padding-left: 1em;
}

.location {
	float: left;
	width: 48%;
    padding-left: 1em;
    overflow: hidden;
}

.location:hover {
	color: #bcbcbc;
}

#map_container {
/*	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
*/
	margin-left: 25em;
	height: 100vh;
	z-index: -2;
}

.infoWindow {
	white-space: nowrap;
	overflow: hidden;
	font-size: 1.2em;
	height: 2.3em;
	line-height: 110%;
	letter-spacing: 0.05em;
}

.aseb:before {
	content: "Alzheimer's Services of the East Bay";
}

.aseb:after {
	content: "2330 Channing Ave";
}

.ashby:before {
	content: "Ashby Care Center";
}

.ashby:after {
	content: "2270 Ashby Ave";
}

.berkeley-pines:before {
	content: "Berkeley Pines";
}

.berkeley-pines:after {
	content: "2223 Ashby Ave";
}

.berkshire:before {
	content: "Berkshire Convalescent";
}

.berkshire:after {
	content: "2235 Sacramento St";
}

.chaparral-house:before {
	content: "Chaparral House";
}

.chaparral-house:after {
	content: "1309 Allston Way";
}

.redwood-gardens:before {
	content: "Redwood Gardens";
}

.redwood-gardens:after {
	content: "2951 Derby St";
}

.elmwood:before {
	content: "Elmwood Convalescent Hospital";
}

.elmwood:after {
	content: "2829 Shattuck Ave";
}

.kyakameena:before {
	content: "Kyakameena Skilled Nursing Facility";
}

.kyakameena:after {
	content: "2131 Carleton St";
}

.morrison-hall:before {
	content: "Morrison Hall Lounge";
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) , all and (max-width: 600px) {

    #map_container {
    	position: fixed;
    	width: 100%;
    	height: 55vh;
    	padding-top: 3.6875;
    	top: 0;
    	left: 0;
    	z-index: 0;
    }

    #events {
    	width: 100%;
    	float: left;
    	margin: 55vh 0 0 0;
    }

}

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    #map_container {
     	display: none;
     }

    #events {
    	margin-top: 3.3em;
    }

    .row {
    	font-size: .2em;
    	padding: 0 0 0.1em 0;
    }

    .event {
    	padding: 0.1em;
    	margin-bottom: 0.1em;
    	font-size: 5.5em;
    }

    .location {
    	padding-right: 1em;
    }

}